// Navbar
.bg-pink {
    background-color: #F8E8E8;
}

.navbar {
    padding: 0.5rem 1rem;
    font-family: 'Fiorina Text', serif; /* Aplica la fuente a todo el navbar */
}

.navbar-text {
    font-size: 3rem; /* Tamaño del texto 'Elias Massera' */
    font-weight: 600;
    color: #DE306D; /* Mismo color que los enlaces */
}

.navbar-light .navbar-nav .nav-link {
    color: #DE306D;
    font-size: 1.5rem; /* Aumenta el tamaño de fuente de los enlaces de navegación */
    font-weight: 600; /* Hace que el texto sea un poco más grueso */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: #DE306D; /* Rosa más intenso al pasar el mouse */
    text-decoration: underline; /* Añade subrayado cuando pases el mouse */
    font-size: 1.6rem; /* Aumenta ligeramente el tamaño al pasar el mouse */
}

.navbar-light .navbar-toggler {
    color: #DE306D;
    border-color: #DE306D;
}
.navbar-brand {
    display: flex; /* Para alinear los elementos en una fila */
    align-items: center; /* Alinea verticalmente los elementos */
    gap: 10px; /* Espacio entre el texto y el icono del cucurucho */
}

.navbar-text {
    font-size: 3.3rem; /* Tamaño del texto */
    font-weight: bold; /* Hace el texto más destacado */
    color: #DE306D; 
    margin: 0;
}

.navbar-brand img {
    height: 80px; /* Asegura que el cucurucho no sea más alto que el texto */
    margin: 0;
    align-self: center; /* Garantiza que esté alineado verticalmente */
}

// Header Button
.login .btn {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.login .btn:hover {
    background-color: #DE306D;
    color: white;
    border-color: #DE306D;
}

// Header for large screens
@media (min-width: 992px) {
    .navbar-expand-lg {
        justify-content: space-between;
    }

    .navbar-expand-lg .navbar-nav {
        flex-grow: 1;
        justify-content: center;
    }

    .navbar-expand-lg .login {
        margin-left: auto;
    }
}